In [8]:
from sqlalchemy import create_engine
import pandas as pd

# Create a SQLAlchemy engine
engine = create_engine('sqlite:///social_media_data.db')

# Define the file paths
file_path1 = "/Users/NP/Documents/Project-3/Social Media Pouparity 2009-2023/data/social_media-US-monthly-200904-202312.csv"
file_path2 = "/Users/NP/Documents/Project-3/Social Media Pouparity 2009-2023/data/google_trends_social_media_data.csv"

# Read the CSV files into dataframes
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)

# Write the dataframes to SQLite tables
df1.to_sql('us_social_media', engine, if_exists='replace', index=False)
df2.to_sql('google_trends', engine, if_exists='replace', index=False)

180

In [9]:
# Select all records from the 'us_social_media' table
df1 = pd.read_sql_query("SELECT * FROM us_social_media", engine)

# Select all records from the 'google_trends' table
df2 = pd.read_sql_query("SELECT * FROM google_trends", engine)

# Print the first 5 rows of each dataframe
print(df1.head())
print(df2.head())

      Date  Facebook  Pinterest  Twitter  StumbleUpon  reddit  Tumblr  \
0  2009-04     12.89        0.0     6.69        42.45    9.83     0.0
1  2009-05     15.88        0.0    10.45        42.55    9.10     0.0
2  2009-06     17.02        0.0    11.25        38.08   14.80     0.0
3  2009-07     19.08        0.0    10.55        43.41   11.64     0.0
4  2009-08     24.45        0.0    11.37        38.84   11.85     0.0

   YouTube  Instagram  LinkedIn  Digg  MySpace  Fark  Google+  NowPublic  \
0      0.0        0.0      0.00  6.02    19.04  0.30      0.0       0.03
1      0.0        0.0      0.27  6.85    11.06  0.65      0.0       0.04
2      0.0        0.0      0.50  5.17     9.46  1.03      0.0       0.05
3      0.0        0.0      0.40  5.05     6.86  0.34      0.0       0.05
4      0.0        0.0      0.45  3.92     5.85  0.64      0.0       0.08

   news.ycombinator.com  Delicious  VKontakte  Vimeo  Other
0                  0.08       0.38        0.0    0.0   2.30
1                  0.12       0.46        0.0    0.0   2.57
2                  0.12       0.47        0.0    0.0   2.06
3                  0.15       0.43        0.0    0.0   2.04
4                  0.09       0.41        0.0    0.0   2.06
         date  Facebook  Instagram  TikTok  Twitter  Snapchat  isPartial
0  2009-01-31      27.0        0.0     0.0      0.0       0.0        0.0
1  2009-02-28      28.0        0.0     0.0      0.0       0.0        0.0
2  2009-03-31      30.0        0.0     0.0      1.0       0.0        0.0
3  2009-04-30      33.0        0.0     0.0      1.0       0.0        0.0
4  2009-05-31      35.0        0.0     0.0      1.0       0.0        0.0

In [10]:
# Select all records from the 'us_social_media' table
df1 = pd.read_sql_query("SELECT * FROM us_social_media", engine)

# Print the first 5 rows of the dataframe
print(df1.head())

# Print the statistical summary of the dataframe
print(df1.describe())

# Print the number of missing values in each column
print(df1.isnull().sum())

import matplotlib.pyplot as plt
import ipywidgets as widgets
from IPython.display import display

# Create a dropdown menu
dropdown = widgets.Dropdown(
    options=['Facebook', 'Pinterest', 'Twitter', 'StumbleUpon', 'reddit', 'Tumblr', 'YouTube', 'Instagram', 'LinkedIn', 'Digg', 'MySpace', 'Fark', 'Google+', 'NowPublic', 'news.ycombinator.com', 'Delicious', 'VKontakte', 'Vimeo', 'Other'],
    value='Facebook',
    description='Platform:',
)

# Function to plot data
def plot_data(platform):
    plt.figure(figsize=(10,6))
    plt.plot(pd.to_datetime(df1['Date']), df1[platform])
    plt.title(f'{platform} Popularity Over Time')
    plt.xlabel('Date')
    plt.ylabel('Popularity')
    plt.show()

# Function to handle changes in the dropdown menu
def on_change(change):
    if change['type'] == 'change' and change['name'] == 'value':
        plot_data(change['new'])

dropdown.observe(on_change)

display(dropdown)

      Date  Facebook  Pinterest  Twitter  StumbleUpon  reddit  Tumblr  \
0  2009-04     12.89        0.0     6.69        42.45    9.83     0.0
1  2009-05     15.88        0.0    10.45        42.55    9.10     0.0
2  2009-06     17.02        0.0    11.25        38.08   14.80     0.0
3  2009-07     19.08        0.0    10.55        43.41   11.64     0.0
4  2009-08     24.45        0.0    11.37        38.84   11.85     0.0

   YouTube  Instagram  LinkedIn  Digg  MySpace  Fark  Google+  NowPublic  \
0      0.0        0.0      0.00  6.02    19.04  0.30      0.0       0.03
1      0.0        0.0      0.27  6.85    11.06  0.65      0.0       0.04
2      0.0        0.0      0.50  5.17     9.46  1.03      0.0       0.05
3      0.0        0.0      0.40  5.05     6.86  0.34      0.0       0.05
4      0.0        0.0      0.45  3.92     5.85  0.64      0.0       0.08

   news.ycombinator.com  Delicious  VKontakte  Vimeo  Other
0                  0.08       0.38        0.0    0.0   2.30
1                  0.12       0.46        0.0    0.0   2.57
2                  0.12       0.47        0.0    0.0   2.06
3                  0.15       0.43        0.0    0.0   2.04
4                  0.09       0.41        0.0    0.0   2.06
         Facebook   Pinterest     Twitter  StumbleUpon      reddit  \
count  177.000000  177.000000  177.000000   177.000000  177.000000
mean    55.872542   15.872203    8.541073     9.106271    2.844576
std     13.657312   10.193749    4.485564    14.608980    2.548213
min     12.890000    0.000000    2.300000     0.000000    0.450000
25%     47.960000    9.950000    5.580000     0.000000    0.920000
50%     52.670000   16.740000    7.030000     1.130000    1.930000
75%     68.860000   22.570000   10.170000     9.820000    4.640000
max     79.280000   37.260000   25.690000    51.500000   14.800000

           Tumblr     YouTube   Instagram    LinkedIn        Digg     MySpace  \
count  177.000000  177.000000  177.000000  177.000000  177.000000  177.000000
mean     1.340169    2.063446    2.522938    0.272090    0.447006    0.549153
std      2.424738    2.210968    4.342683    0.155021    1.177845    2.113822
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.720000    0.000000    0.160000    0.000000    0.000000
50%      0.520000    1.530000    0.000000    0.250000    0.010000    0.000000
75%      1.520000    2.190000    2.170000    0.350000    0.070000    0.010000
max     12.700000   13.860000   15.910000    0.880000    6.850000   19.040000

             Fark     Google+   NowPublic  news.ycombinator.com   Delicious  \
count  177.000000  177.000000  177.000000            177.000000  177.000000
mean     0.156045    0.071469    0.086667              0.044520    0.044294
std      0.165969    0.093518    0.218587              0.039857    0.102507
min      0.020000    0.000000    0.000000              0.000000    0.000000
25%      0.050000    0.000000    0.000000              0.020000    0.000000
50%      0.080000    0.000000    0.000000              0.030000    0.000000
75%      0.210000    0.150000    0.070000              0.060000    0.020000
max      1.030000    0.350000    1.570000              0.170000    0.470000

        VKontakte       Vimeo       Other
count  177.000000  177.000000  177.000000
mean     0.014633    0.012599    0.135989
std      0.020533    0.034772    0.438277
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      0.010000    0.000000    0.010000
75%      0.020000    0.020000    0.030000
max      0.150000    0.420000    2.570000
Date                    0
Facebook                0
Pinterest               0
Twitter                 0
StumbleUpon             0
reddit                  0
Tumblr                  0
YouTube                 0
Instagram               0
LinkedIn                0
Digg                    0
MySpace                 0
Fark                    0
Google+                 0
NowPublic               0
news.ycombinator.com    0
Delicious               0
VKontakte               0
Vimeo                   0
Other                   0
dtype: int64

Dropdown(description='Platform:', options=('Facebook', 'Pinterest', 'Twitter', 'StumbleUpon', 'reddit', 'Tumblâ€¦

In [11]:
from flask import Flask, jsonify, render_template_string
from sqlalchemy import create_engine
import pandas as pd
import plotly.express as px
import plotly.io as pio

app = Flask(__name__)

# Create a SQLAlchemy engine
engine = create_engine('sqlite:///social_media_data.db')

# Load the data when the application starts
df1 = pd.read_sql_query("SELECT * FROM us_social_media", engine)
df2 = pd.read_sql_query("SELECT * FROM google_trends", engine)

@app.route("/api/v1.0/us_social_media")
def us_social_media():
    # Convert dataframe to dictionary
    data = df1.to_dict(orient='records')
    return jsonify(data)

@app.route("/api/v1.0/google_trends")
def google_trends():
    # Convert dataframe to dictionary
    data = df2.to_dict(orient='records')
    return jsonify(data)

@app.route("/plot")
def plot():
    # Create a simple line plot
    fig = px.line(df1, x='Date', y='Facebook')
    # Convert the plot to HTML
    plot_html = pio.to_html(fig, full_html=False)
    # Return the plot as HTML
    return render_template_string("<html><body>{{plot}}</body></html>", plot=plot_html)

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (fsevents)
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py", line 15, in <module>
    from ipykernel import kernelapp as app
  File "/opt/anaconda3/lib/python3.11/site-packages/ipykernel/__init__.py", line 7, in <module>
    from .connect import *
  File "/opt/anaconda3/lib/python3.11/site-packages/ipykernel/connect.py", line 12, in <module>
    import jupyter_client
  File "/opt/anaconda3/lib/python3.11/site-packages/jupyter_client/__init__.py", line 3, in <module>
    from .asynchronous import AsyncKernelClient
  File "/opt/anaconda3/lib/python3.11/site-packages/jupyter_client/asynchronous/__init__.py", line 1, in <module>
    from .client import AsyncKernelClient  # noqa
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.11/site-packages/jupyter_client/asynchronous/client.py", line 11, in <module>
    from ..channels import AsyncZMQSocketChannel, HBChannel
  File "/opt/anaconda3/lib/python3.11/site-packages/jupyter_client/channels.py", line 12, in <module>
    from jupyter_core.utils import ensure_async
  File "/opt/anaconda3/lib/python3.11/site-packages/jupyter_core/utils/__init__.py", line 13, in <module>
    from pathlib import Path
  File "/opt/anaconda3/lib/python3.11/site-packages/pathlib.py", line 10, in <module>
    from collections import Sequence
ImportError: cannot import name 'Sequence' from 'collections' (/opt/anaconda3/lib/python3.11/collections/__init__.py)

SystemExit: 1

/opt/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)